/* header */
header {
	width: 100%;
	height: 50px;
	background-color: #FFF;
}
.follow-me {
	position: absolute;
	top: 5px;
	right: 10px;
	background-color: #fff;
}
.follow-me > img {
	height: 40px;
	width: 40px;
	float: left;
	border-radius: 100%;
	margin-right: 10px;
}
.follow-me > img:first-child {
	margin-left: 0;
}

/* topphoto */
.topphoto{
	position: relative;
}
.topphoto p{
	letter-spacing: 0.8em;
	position: absolute;
	color: #fff;
	/*font-weight: bold;*/
	font-size: 40px;
	font-family: Times New Roman;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	margin: 0;
	padding: 0;
}
.topphoto img{
	width: 100%
}

/* menuボタン */
.content {
	vertical-align: middle;
	text-align: center;
	width: 100%;
	height: 80px;
	margin-top: 50px;
	font-size: 20px;
	font-family: Times New Roman;
	letter-spacing: 0.3em;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
li {
	display: inline-block;
	padding: 0 20px;
}
span {
	position: relative;
	display: block;
	cursor: pointer;
}
span:before, span:after {
	content: '';
	position: absolute;
	width: 0%;
	height: 1px;
	top: 50%;
	margin-top: -0.5px;
	background: #333;
}
span:before {
	left: -2.5px;
}
span:after {
	right: 2.5px;
	background: #333;
	transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}
span:hover:before {
	background: #333;
	width: 100%;
	transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
span:hover:after {
	background: transparent;
	width: 100%;
	transition: 0s;
}


/* column */
.container {
	width: 100%;
	height: 600px;
	background-color: #D3D3D3;
}
/*.container .left, .container .right {
	width: 40%;
	height: 300px;
	float: left;
}*/
.left img, .right img {
	width: 600px;
	height: 400px;
}
.container::after {
	content: "";
	display: block;
	clear: both;
}



/* aside-contact */

form {
	display: inline-block;
	margin: 0 auto;
}
.contact {
	margin: 100px auto;
	width: 100%;
	height: 200px;
	background-color: #d1d1d1;
	padding-top: 20px;
	font-size: 20px;
	text-align: center;
}
.form-input {
	display: flex;
	margin-top: 20px;
	margin-bottom: 10px;
}
.form-left {
	height: 100px;
	width: 240px;
	margin-right: 10px;
}
.input-field1 {
	margin-bottom: 10px;
	width: 240px;
	height: 40px;
	line-height: 40px;
	box-sizing: border-box;
}
.form-right {
	height: 100px;
	width: 240px;
	margin-left: 10px;
}
.input-field2 {
	margin-bottom: 10px;
	width: 240px;
	height: 90px;
	line-height: 40px;
	box-sizing: border-box;
}
.button {
	background-color: rgba(80,150,220,.5);
	color: #fff;
	font-size: 20px;
	width: 120px;
	text-align: center;
	border-radius: 5px;
	border: 3px solid rgba(80,150,220,.1);
	cursor: pointer;
}
.button:hover {
	background-color: rgb(80,150,220);
}

/* footer */
.footer {
	width: 100%;
	height: 30px;
	background-color: #FFF;
}
.footer p {
	font-size: 10px;
	text-align: center;
	font-weight: bold;
}









