/* header */
#header {
	width: 100%;
	height: 50px;
	background-color: #FFF;
}
/* ----header ここまで---- */



/* topphoto */
#topphoto{
	width: 1200px;
	height: 80vh;
	margin: 0 auto;
	text-align: left;
	overflow: hidden;
	position: relative;
}
#topphoto img{
	position: absolute;
	width: 1200px;
	height: 80vh;
}
#topphoto-title p {
	letter-spacing: 0.8em;
	position: absolute;
	color: #fff;
	font-size: 40px;
	font-family: Times New Roman;
	top: 48%;
	left: 50%;
	transform: translate(-50%,-50%);
	margin: 0;
	padding: 0;
}
/* -----topphoto ここまで-----*/



/* menu */
#menu {
	vertical-align: middle;
	text-align: center;
	width: 100%;
	height: 80px;
	margin-top: 50px;
	font-size: 22px;
	font-family: Times New Roman;
	letter-spacing: 0.3em;
}
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu ul li {
	display: inline-block;
	padding: 0 30px;
}
#menu span {
	position: relative;
	display: block;
	cursor: pointer;
}
#menu span:before, #menu span:after {
	content: '';
	position: absolute;
	width: 0%;
	height: 1px;
	top: 50%;
	margin-top: -0.5px;
	background: #333;
}
#menu span:before {
	left: -2.5px;
}
#menu span:after {
	right: 2.5px;
	background: #333;
	transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}
#menu span:hover:before {
	background: #333;
	width: 100%;
	transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
#menu span:hover:after {
	background: transparent;
	width: 100%;
	transition: 0s;
}
/* -----menu ここまで---- */



/* about */
#about {
	height: 100vh;
	/*border-top: 1px solid;*/
	/*border-bottom: 1px solid;*/
	padding-top: 100px;
}
.subtitle {
	font-family: Times New Roman;
	font-size: 24px;
	letter-spacing: 0.35em;
	text-align: center;
	margin-top: 150px;
	margin-bottom: 100px;
}
#about .detail {
	font-family: Times New Roman;
	font-size: 20px;
	letter-spacing: 0.2em;
	text-align: center;
	line-height: 4;
}
#menu a {
	color: #333;
}
/* -----about ここまで----- */



/* column */
#gallery {
	width: 100%;
	height: 100vh;
	padding-top: 20px;
}
.container {
	display: flex;
	align-items: center;
}
.container .left {
	margin-left: auto;
	margin-right: 30px;
	overflow: hidden;
}
.container .right {
	margin-left: 30px;
	margin-right: auto;
	overflow: hidden;
}
.pic-left, .pic-right {
	width: 570px;
	height: 400px;
	cursor: pointer;
	transition-duration: 0.3s;
	transform: scale(1.1);
	filter: grayscale(100%);
}
.pic-left:hover, .pic-right:hover {
	filter: grayscale(0);
	transition-duration: 0.3s;
}
.container:after {
	display: block;
	clear: both;
}


/* contact */
#contact {
	margin: 0 auto;
	width: 100%;
	height: 450px;
	padding-top: 20px;
	font-size: 22px;
	font-family: Times New Roman;
	letter-spacing: 0.35em;
	text-align: center;
}
#contact form {
	display: inline-block;
	margin: 0 auto;
}
.form-input {
	display: flex;
	margin-bottom: 30px;
}
.form-left {
	height: 120px;
	width: 240px;
	margin-right: 10px;
}
.input-field1 {
	margin-bottom: 20px;
	width: 240px;
	height: 50px;
	line-height: 40px;
	box-sizing: border-box;
	padding-left: 0.5em;
}
.form-right {
	height: 120px;
	width: 240px;
	margin-left: 10px;
}
.input-field2 {
	margin-bottom: 10px;
	width: 260px;
	height: 120px;
	line-height: 40px;
	box-sizing: border-box;
	padding-left: 0.5em;
}
.button {
	background-color: rgba(12, 32, 38,0.50);
	color: #fff;
	font-size: 18px;
	font-family: Times New Roman;
	letter-spacing: 0.1em;
	width: 120px;
	height: 35px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid rgba(12, 32, 38, 0.35);
	cursor: pointer;
}
.button:hover {
	background-color: rgba(6, 12, 14);
}
/* -----contact ここまで----*/




/* sns */
#sns {
	text-align: center;
	letter-spacing: 10px;
	margin-top: 200px;
	margin-bottom: 50px;
}
.icon {
	color: #333;
	font-size: 40px;
}
/* ------sns ここまで----- */




/* pagetop tag */
.pagetop {
	display: none;
	position: fixed;
	bottom: 45px;
	right: 0px;
}
.pagetop a {
	display: block;
	background-color: #ccc;
	text-align: center;
	color: #fff;
	font-size: 15px;
	text-decoration: none;
	padding: 20px 20px;
	filter:alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
	border-radius: 10px 0 0 10px;
}
.pagetop a:hover {
	display: block;
	background-color: #222;
	text-align: center;
	color: #fff;
	font-size: 15px;
	text-decoration: none;
	padding:20px 20px;
	filter:alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
	border-radius: 10px 0 0 10px;
}
/* -----pagetop tag ここまで----- */




/* footer */
#footer {
	width: 100%;
	height: 30px;
	background-color: #FFF;
}
#footer p {
	font-size: 15px;
	font-family: Times New Roman;
	text-align: center;
	font-weight: bold;
	letter-spacing: 0.2em;
}
/* ----footer ここまで-----*/



/* responsive */

/* ipad pro対応 */
@media screen and (max-width: 1024px) {
	#header {
		height: 150px;
	}
	#topphoto{
		width: 768px;
		height: 480px;
	}
	#topphoto img{
		width: 768px;
		height: 480px;
	}
	#topphoto-title p {
		font-size: 25px;
		top: 28%;
	}
	#about {
		height: 450px;
		padding-top: 100px;
	}
	.subtitle {
		margin-top: 50px;
		margin-bottom: 60px;
	}
	#about .detail {
		letter-spacing: 0.2em;
		line-height: 3;
		font-size: 20px;
	}
	#gallery {
		height: 1200px;
	}
	.container {
		flex-direction: column;
		height: 80vh;
		padding-top: 0;
	}
	.container .left, .container .right {
		margin: 20px 0 40px 0;
	}
	.pic-left, .pic-right {
		width: 570px;
		height: 400px;
	}
	#contact {
		padding-top: 0;
		margin-top: 0;
		margin-bottom: 0;
	}
	#contact form {
		margin-top: 10px;
	}
	#sns {
		margin-top: 0;
	}
}


/* ipad対応 */
@media screen and (max-width: 960px) {
	#header {
		height: 100px;
	}
	#topphoto{
		height: 420px;
	}
	#topphoto img{
		height: 420px;
	}
	#topphoto-title p {
		font-size: 20px;
		top: 30%;
	}
	#menu {
		font-size: 18px;
	}
	#about {
		height: 300px;
		padding-top: 0px;
	}
	.subtitle {
		font-size: 18px;
	}
	#about .detail {
		letter-spacing: 0.1em;
		line-height: 3;
		font-size: 16px;
	}
	#gallery {
		height: 1000px;
	}
	.container {
		flex-direction: column;
		height: 80vh;
		padding-top: 0;
	}
	.pic-left, .pic-right {
		width: 500px;
		height: 380px;
	}
	#contact {
		height: 300px;
	}
	#contact form {
		margin-top: 10px;
	}
	.form-input {
		margin-top: 0px;
	}
	#sns {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}


/* iphoneX対応 */
@media screen and (max-width: 480px) {
	#header {
		height: 0px;
	}
	#topphoto{
		width: 100%;
		height: 200px;
	}
	#topphoto img{
		width: 100%;
		height: 200px;
	}
	#topphoto-title p {
		font-size: 15px;
		top: 15%;
	}
	#menu {
		display: none;
	}
	#about {
		height: 100px;
		padding-top: 0px;
	}
	.subtitle {
		font-size: 11px;
		margin-bottom: 20px;
	}
	#about .detail {
		font-size: 10px;
	}
	#gallery {
		height: 430px;
	}
	.container {
		height: 400px;
	}
	.container .left, .container .right {
		margin: 10px 0 10px 0;
	}
	.pic-left, .pic-right {
		width: 230px;
		height: 150px;
	}
	#contact {
		height: 250px;
		font-size: 9px;
	}
	#contact form {
		margin-top: 10px;
	}
	.form-input {
		flex-direction: column;
		margin-bottom: 10px;
	}
	.form-left {
		height: 50px;
		width: 200px;
		margin-right: 0;
	}
	.input-field1 {
		margin-bottom: 5px;
		width: 200px;
		height: 20px;
	}
	.form-right {
		height: 100px;
		width: 200px;
		margin-left: 0;
	}
	.input-field2 {
		margin-bottom: 0px;
		width: 200px;
		height: 100px;
	}
	.button {
		font-size: 12px;
		width: 80px;
		height: 30px;
	}
	#sns {
		margin-top: 20px;
		margin-bottom: 20px;
		letter-spacing: 5px;
	}
	.icon {
		font-size: 25px;
	}
	#footer {
		height: 20px;
	}
	#footer p {
		font-size: 9px;
		font-weight: bold;
		letter-spacing: 0.15em;
	}
}




