/* header */
header {
	width: 100%;
	height: 50px;
	background-color: #FFF;8}
.follow-me {
	position: absolute;
	top: 5px;
	right: 10px;
	background-color: #fff;
}
.follow-me > img {
	height: 40px;
	width: 40px;
	float: left;
	border-radius: 100%;
	margin-right: 10px;
}
.follow-me > a > img {
	height: 40px;
	width: 40px;
	float: left;
	border-radius: 100%;
	margin-right: 10px;
}
.follow-me > img:first-child {
	margin-left: 0;
}

/*
@import compass
@import compass/reset
=anim($duration: 280ms)
  +transition(all $duration ease)
body
  background: #000
.sns_box
  position: absolute
  overflow: hidden
  top: 0
  bottom: 0
  left: 50%
  +translateX(-50%)
  margin: auto
  height: 44px
  min-width: 268px
.sns_button
  float: left
  box-shadow: inset 0 0 0 2px #fff
  border-radius: 100%
  +anim
  a
    display: table-cell
    width: 44px
    height: 44px
    color: #fff
    text-align: center
    vertical-align: middle
    +anim
  i
    font-size: 20px
    vertical-align: middle
  &:hover
    box-shadow: inset 0 0 0 22px #fff
.sns_button + .sns_button
  margin: 0 0 0 12px
.twitter
  &:hover
    a
      color: #1B95E0
.facebook
  &:hover
    a
      color: #3B5999
.google
  &:hover
    a
      color: #dd4b39
.instagram
  &:hover
    a
      color: #2b5c84
.pocket
  &:hover
    a
      color: #EE4056

*/

/* topphoto */
.topphoto{
	position: relative;
}
.topphoto p{
	letter-spacing: 0.5em;
	position: absolute;
	color: #fff;
	font-weight: bold;
	font-size: 30px;
	font-family: Quicksand, sans-serif;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	margin: 0;
	padding: 0;
}
.topphoto img{
	width: 100%
}

.header-under {
	width: 100%;
	height: 80px;
	background-color: #FFF;
	display: flex;
	justify-content: center;
	align-items: center;
}
#menu {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
#menu li {
	width: 140px;
	height: 50px;
	background-color: #333;
	margin-right: 5px;
	text-align: center;
	line-height: 50px;
}
#menu li a {
	text-decoration: none;
	color: #FFF;
	font-weight: bold;
	padding: 20px;
}

/* column */
.left {
	width: 40%;
	height: 300px;
	float: left;
	margin-top: 5%;
	margin-left: 8%;
	margin-bottom: 5%;
}
.left img {
	width: 100%;
	height: 300px;
}
.right {
	width: 40%;
	height: 300px;
	float: right;
	margin-top: 5%;
	margin-right: 8%;
	margin-bottom: 5%;
}
.right img {
	width: 100%;
	height: 300px;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
.clearfix {
	background-color: #D3D3D3;
}


/* aside-contact */

form {
	display: inline-block;
	margin: 0 auto;
}
.contact {
	margin: 100px auto;
	width: 100%;
	height: 200px;
	background-color: #d1d1d1;
	padding-top: 20px;
	font-size: 20px;
	text-align: center;
}
.form-input {
	display: flex;
	margin-top: 20px;
	margin-bottom: 10px;
}
.form-left {
	height: 100px;
	width: 240px;
	margin-right: 10px;
}
.input-field1 {
	margin-bottom: 10px;
	width: 240px;
	height: 40px;
	line-height: 40px;
	box-sizing: border-box;
}
.form-right {
	height: 100px;
	width: 240px;
	margin-left: 10px;
}
.input-field2 {
	margin-bottom: 10px;
	width: 240px;
	height: 90px;
	line-height: 40px;
	box-sizing: border-box;
}
.button {
	background-color: rgba(80,150,220,.5);
	color: #fff;
	font-size: 20px;
	width: 120px;
	text-align: center;
	border-radius: 5px;
	border: 3px solid rgba(80,150,220,.1);
	cursor: pointer;
}
.button:hover {
	background-color: rgb(80,150,220);
}

/* footer */
.footer {
	width: 100%;
	height: 30px;
	background-color: #FFF;
}
.footer p {
	font-size: 10px;
	text-align: center;
	font-weight: bold;
}









