@charset "UTF-8";
body {
  background-color: #FFFEEE;
  width: 100%;
  text-align: center;
  font-family: 'Hiragino Mincho ProN','HiraMinProN-W3';
  color: #002356;
}

.header {
  margin-bottom: 20px;
}

.top_bg {
  text-align: left;
}

.top_bg .flower_bg {
  width: 400px;
}

.logo {
  text-align: center;
  margin-bottom: 50px;
}

.logo img {
  width: 400px;
}

.under_bg {
  text-align: right;
}

.under_bg img {
  width: 320px;
}

.nav-item a {
  color: #002356;
}

.swiper-slide:hover {
  transition-duration: 0.1s;
  transform: scale(1.1);
  filter: grayscale(30%);
}

.swiper-slide img {
  width: 100%;
  height: 250px;
}

.main_text {
  margin-top: 100px;
  margin-bottom: 60px;
  font-family: 'Courier';
  font-size: 18px;
}

.main_text p {
  line-height: 2em;
}

.container {
  padding: 0;
  width: 970px;
}

.container h2 {
  margin-bottom: 50px;
}

.container h2 span {
  border-bottom: 2px double;
  font-size: 30px;
  font-family: 'Courier';
}

.container:first-child {
  margin-top: 100px;
}

.cf {
  display: flex;
  margin-bottom: 50px;
}

.cf li {
  list-style: none;
  margin: 0 auto;
}

.cf li a {
  color: #002356;
}

.cf li a:hover {
  color: #5c6c7c;
}

.cf li a img {
  object-fit: cover;
}

.s img {
  width: 310px;
  height: 200px;
}

.b img {
  width: 477px;
  height: 300px;
}

dl {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

dt {
  font-family: 'Courier';
  font-size: 18px;
  margin-top: 10px;
}

dd {
  margin-top: 10px;
}

.ob:hover {
  transition-duration: 0.1s;
  transform: scale(1.1);
  filter: grayscale(70%);
}

/* タブレット対応 */
@media screen and (max-width: 769px) {
  .top_bg .flower_bg {
    width: 250px;
  }
  .logo img {
    width: 450px;
  }
  .under_bg img {
    width: 200px;
  }
  .container {
    width: 100%;
  }
  .swiper-slide img {
    width: 100%;
    height: 500px;
  }
  .main_text p {
    padding: 0 30px;
  }
  dl {
    margin-bottom: 40px;
  }
  .s img {
    width: 220px;
    height: 150px;
  }
  .b img {
    width: 355px;
    height: 280px;
  }
  .cf {
    margin-bottom: 0px;
  }
}

/* iphoneX対応 */
@media screen and (max-width: 480px) {
  .header {
    display: none;
  }
  .logo img {
    width: 300px;
  }
  .container {
    width: 100%;
  }
  .swiper-slide img {
    width: 100%;
    height: 230px;
  }
  .container h2 {
    margin-bottom: 20px;
  }
  .main_text {
    font-size: 14px;
  }
  .main_text p {
    line-height: 1.5em;
    padding: 0 15px;
  }
  dl {
    width: 310px;
    margin-left: 40px;
  }
  .s img {
    width: 310px;
    height: 200px;
  }
  .b img {
    width: 310px;
    height: 200px;
  }
}

#t-scroll {
  width: 960px;
  text-align: right;
  margin: 0 auto;
}

#t-scroll a {
  color: #002356;
}

#t-scroll a:hover {
  color: #5c6c7c;
}

.footer {
  text-align: center;
}

.footer .footer_content {
  width: 960px;
  border-top: 1px double;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 20px;
  padding-top: 10px;
}

.footer .footer_content ul {
  display: flex;
}

.footer .footer_content ul li {
  margin-right: 10px;
}

.footer .footer_content ul li a {
  color: #002356;
}

.footer .footer_content ul li a:hover {
  color: #5c6c7c;
}

.footer .footer_content p {
  text-align: left;
  margin-top: 20px;
  font-size: 12px;
}

@media screen and (max-width: 769px) {
  #t-scroll {
    width: 730px;
  }
  .footer .footer_content {
    width: 730px;
  }
}

/* iphoneX対応 */
@media screen and (max-width: 480px) {
  #t-scroll {
    width: 310px;
  }
  .footer .footer_content {
    width: 310px;
  }
}
